.header-section{
	overflow:hidden;
}
.header-section .logo-section{
	display:none;
}
.header-section .header-image img{
	width:100%;
	height:auto;
}
.header-section .main-menu {
	display:block;
	position:absolute;
	left:0;
	top:0;
	margin-top:20px;
	width:100%;
}
.main-menu ul li {
	margin:0 21px;
} 
.main-menu ul li a{
	text-transform:uppercase;
	color:#797782;
	font-family: 'Lato', sans-serif;
	font-size:12px;
	letter-spacing:2px;
	font-weight:700;
	
}
/******intro-section******/
.intro-section{
	background-color:#f7f7f7;
	padding:100px 0;
}
.intro-section img{
	width:53px;
	height:44px;
}
.section h2{
	color:#2f3738;
	text-transform:uppercase;
	font-size:18px;
	line-height:3em;
	font-family: 'Lato', sans-serif;
	font-weight:700;
}
.section .content{
	display:block;
	width:80%;
	font-size:15px;
	line-height:2em;
	margin:0 auto;
}
.content p{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	color:#8d9092;
}
/*****description section*****/
 .small,
.big{
	padding-left:0;
	padding-right:0;
}
.big-small,
 .small{
	overflow:hidden;
}
 .big img,
 .small-image img{
	width:100%;
	height:auto;
}
.big-small,
.small-big,
.big-small-big
{
	max-height:485px;
	overflow:hidden;
	position:relative;
}
.small-image{
	background:url('images/vintage-bike2.jpg') ;
	background-repeat:no-repeat;
	background-size: 100% auto;
	min-height:165px;
	background-position:bottom left;
}
.small2-image{
	background:url('images/cycle4.jpg') ;
	background-repeat:no-repeat;
	background-size: 100% auto;
	min-height:165px;
	background-position:bottom left;
}
.big-small-image{
	background:url('images/cycle3.jpg') ;
	background-repeat:no-repeat;
	background-size: 100% auto;
	min-height:165px;
	background-position:bottom left;
	
}
.small-des{
	padding: 40px 0 20px;
	
}
.logo-section{
	position:absolute;
	top:50%;
	left:0;
	z-index:9999;
	width:100%;
	margin-top:-59px;
}
.logo-section img{
	display:block;
width:113px;
height:118px;
margin:auto;
}
.small-image{
	position:relative;
}
.small-image:before{
	content:"";
	height:0;
	width:0;
	position:absolute;
	top:0;
	left:50%;
	border-top:10px solid #FFF;
	border-right:5px solid transparent;
	border-left:5px solid transparent;
}
.big-small-image:before{
	content:"";
	height:0;
	width:0;
	position:absolute;
	top:376px;;
	left:50%;
	border-top:10px solid #FFF;
	border-right:5px solid transparent;
	border-left:5px solid transparent;
}
.small2-image:before{
	content:"";
	height:0;
	width:0;
	position:absolute;
	top:367px;
	left:50%;
	border-top:10px solid #FFF;
	border-right:5px solid transparent;
	border-left:5px solid transparent;
}
.section .content hr{
	border-left:0;
	border-bottom:0;
	border-right:0;
	border-top:1px solid red;
	width:50px;
}
.content p:after{
	content:"";
	display:block;
	margin:auto;
	margin-top:30px;
	height:1px;
	width:50px;
	background-color:#d7d7d7;
}

/******tweet section*****/
.tweet-section{
	background:#f7f7f7;
	padding:110px 0;
}
.tweet-section .tweet-icon{
	color:#56c7ee;
	font-size:25px;
}
.tweet-section h2{
	font-size:17px;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	letter-spacing:2px;
	color:#353738;
}
.tweet-section h2 span{
	color:#96999a;
	font-size:15px;
	margin-left:10px;
	font-weight:400;
}
.tweet-section p{
	font-style:italic;
	font-size:18px;
	font-weight:400;
}
/***portfoliosection*****/
.gallery-section{
	min-height:350px;
	overflow:hidden;
	
	
}


.discover-section{
	padding:55px 0;
	background-color:#282f35;
}
.discover-section  a{
	display:block;
	background:#282f35;
	color:white;
	text-decoration:none;
	font-size:20px;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	border:1px solid #94979a ;
	padding: 10px 55px;
		
}
.portfolio-section{
	margin-bottom:60px;
}

/*****subscribe-section****/
.subscribe {
	padding:80px 0;
	
}
 .subscribe .image-logo img{
	display:block;
margin:auto;
padding:50px 0 10px;
}
.subscribe h4{
	color:#848789;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	letter-spacing:1px;
	font-size:18px;
	font-style:italic;
	line-height:3em;
}
.subscribe form button{
	background-color:#24d18f;
	border:1px solid #24d18f;
	padding:15px 18px;
	color:#FFF;
}
.subscribe form input[type=text]{
	padding:25px 80px;
	
}
/****footer section*****/
.footer{
	background:#f7f7f7;
	padding:50px 0 30px;;
}
.footer address {
	font-size:14px;
	color:#848789;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	line-height:1;
	
}
.footer address span{
	font-size:12px;
	font-weight:400;
	font-style:italic;
}
.footer i{
	font-size:18px;
	margin:13px 5px;
	
} 
.footer  .ico-1 i{
	color:#FFF;
	border:5px solid #78cdf0;
	background:#78cdf0;
	border-radius:50%;
}
.footer  .ico-2 i{
	color:#FFF;
	border:5px solid #537bbd;
	background:#537bbd;
	border-radius:70%;
	letter-spacing:2px;
	
}
.footer  .ico-3 i{
	color:#FFF;
	border:5px solid #eb5755;
	background:#eb5755;
	border-radius:50%;
	
}
.footer p{
	color:#848789;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-style:italic;
	font-size:12px;
	
}
.footer img{
	display:block;
	width:33px;
	height:20px;
	
}
.footer .last{
margin-top:30px;
}

